@import "tailwindcss";


.site_btn{
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    transition: all 0.3s;
    background: #059669;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.site_btn:hover {
    background-color: #047857;
}
.border_btn{
    border: 1px solid #d1d5db;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    transition: all 0.4s;
    background: #1e293b;
    cursor: pointer;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.border_btn:hover { 
    border: 1px solid #047857;
    color: #047857;
    background: #ffffff;
}




/* bg color: #0f172a; */
/* card bg color: #1e293b */
/* border: #bdbaba */